  .l-slider {
    position: fixed;
    top: 0;
    padding: 0 0 0 0;
    /*width: 100%;*/
  }

  .imgHolder {
    position: relative;
  }

  .l-semitrans {
    position: fixed;
    top: -3%;
    width: 100%;
    opacity: 0.75;
  }

  #name {
    display: inline-block;
    top: 30%;
    left: 0;
    max-width: 30%;
    color: white;
  }

  .social {
    display: inline-block;
    float: right;
    margin-top: 4%;
    margin-right: 4%;
    max-width: 20%;
  }
  .icons {
    max-width:1.5rem;
    /*margin-left: 30%;*/
    display: inline-block;
  }

  .wk {
    position: fixed;
    /*top: 0;
    left: 0;*/
  }

  #sections {
    margin-top: 70%;
    /*max-width: 80%;*/
  }

.template {
  display: none;
}

.noBullets {
  list-style: none;
}
