  .l-slider {
    position: fixed;
    top: 0;
  }

  .wk {
    /*position: absolute;*/
    width: 100%;
  }

  .sections {
    margin-top: 100%;
  }

.l-nav-bar {
  position: fixed;
  margin-top: 70%;
}

.l-nav-list li {
  list-style: none;
  display: inline;
  color: red;
}
