@import url(https://fonts.googleapis.com/css?family=Signika:400,700|Slabo+27px);

html {
  background: rgb(250, 255, 248);
}

.ui-loader {
  visibility: hidden;
}

.template {
  display: none;
}

#main {
  min-width: 100%;
  padding: 0px;
  display: flex;
  flex-flow: row;
}

#main > article {
  width: 100%;
  max-width: 768px;
  min-height: 990px;
  margin: 0 auto;
  padding: 0;
  background: rgba(52, 37, 22, 1.0);
  overflow: hidden;
  box-shadow: 0 0 250px rgba(194, 255, 179, 0.3);
}

.skillsFixed {
  width: 100%;
  min-width: 240px;
  max-width: 768px;
  position: fixed;
  /*margin-left: 95%;*/
  /*opacity: 0;*/
  /*display: inline;*/
}

.skillsRel {
  width: 100%;
  padding-bottom: 62.5%;
  position: relative;
}

.skillsAbs {
  min-width: 100%;
  max-width: 768px;
  min-height: 100%;
  position: absolute;
  background: rgb(68, 71, 79);
  box-shadow: 0 1px 5px white;
}

.skillsAbs > div {
  height: 52px;
  width: 28px;
  overflow: hidden;
  position: fixed;
  margin-top: 24%;
}

.sliderTab {
  height: 50px;
  width: 50px;
  margin-top: 1px;
  position: relative;
  border-radius: 50%;
  background: black;
  box-shadow: 0 0 2px yellow;
  opacity: 0;
}

.sliderTab > div {
  height: 25px;
  width: 25px;
  margin: 23% auto auto 20%;
  position: absolute;
  transform: rotate(45deg);
  box-shadow: -1px 1px 1px rgba(255,255,0,0.75);
}

.skillsHolder {
  min-width: 100%;
  max-width: 768px;
  min-height: 100%;
  position: absolute;
}

.row1 {
  margin: 13% 0 0 0;
  order: 1;
}

.row2 {
  margin: 13% 0 0 0;
  order: 2;
}

.skillsIcons {
  max-width: 12%;
}

.row1Icons {
  margin: 0 3.5% 0 7.5%;
}

.row2Icons {
  margin: 0 10% 0 10%;
}

#l-slider {
  width: 100%;
  padding-bottom: 62.5%;
  overflow: hidden;
  position: relative;
  /*margin-left: 95%;*/
  /*opacity: 0;*/
  /*display: inline;*/
}

.imgHolder {
  height: 100%;
  width: 100%;
  position: absolute;
}

#l-slider > nav {
  position: absolute;
}

#shadow {
  height: 100%;
  width: 100%;
  box-shadow: inset 0 0 20px blue;
  position: absolute;
  opacity: 0;
}

.l-semitrans {
}

#name {
  width: 100%;
  max-width: 768px;
  position: fixed;
  font-family: Signika, sans-serif;
  color: rgba(255,255,255,0.92);
  text-shadow: 0.25px 0.25px 20px rgba(0,0,255,0.65);
  background: linear-gradient(to top, rgba(0,0,0,0.148), rgba(0,0,0,0));
  box-shadow: 0 1px 5px white;
  font-size: 2rem;
  margin-top: -2.5rem;
  white-space: nowrap;
  /*margin-left: 95%;*/
  /*display: inline;*/
}

#name:hover {
  color: rgba(255, 255, 0, 0.92);
  text-shadow: 0.25px 0.25px 20px rgba(255,0,0,0.65);
}

#name:active {
  color: yellow;
}

.social {
  width: 10%;
  height: 10%;
  max-width:30px;
  max-height:30px;
  float: right;
  text-shadow: 0.25px 0.25px 10px rgb(56, 55, 57);
}

.wk {
  position: fixed;
  width: 100%;
  max-width: 768px;
  /*opacity: 0;*/
}

#sections {
  padding-left: 1%;
  margin-right: 7%;
  color: rgba(245, 254, 243, 0.97);
  text-shadow: 0.25px 0.25px 10px rgb(56, 55, 57);
}

#sections p {
  font-family: 'Slabo 27px', serif;
  font-size: 0.95rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: rgba(245, 254, 243, 0.97);
}

#sections h1, h2, h3 {
  font-family: Signika, sans-serif;
  margin-bottom: .33rem;
}

#sections a {
  text-decoration: none;
  text-shadow: 0.25px 0.25px 10px blue;
  color: rgba(245, 254, 243, 0.97);
  transition: color 1s linear 1s, text-shadow 1s linear 1s;
  -webkit-transition: color 1s linear 1s, text-shadow 1s linear 1s;
}

#sections a:hover {
  color: yellow;
  text-shadow: 0.25px 0.25px 5px rgba(255, 0, 0, 1);
  transition: color .01s linear, text-shadow .01s linear;
  -webkit-transition: color .01s linear, text-shadow .01s linear;
}

#fourOfour {
  text-align: center;
}

#fourOfour h1 {
  font-size: 5rem;
}

.noBullets {
  list-style: none;
}
