@import url(https://fonts.googleapis.com/css?family=Signika:400,700|Slabo+27px);

html {
  background: rgb(250, 255, 248);
}

#main {
  min-width: 100%;
  padding: 0px;
  display: flex;
  flex-flow: row;
}

#main > article {
  width: 100%;
  max-width: 768px;
  min-height: 990px;
  margin: 0 auto;
  padding: 0;
  background: rgba(52, 37, 22, 1.0);
  overflow: hidden;
  box-shadow: 0 0 250px rgba(194, 255, 179, 0.3);
}

.skillsFixed {
  width: 100%;
  min-width: 240px;
  max-width: 768px;
  /*height: 100%;*/
  position: fixed;
}

.skillsRel {
  width: 100%;
  padding-bottom: 62.5%;
  position: relative;
}

.skillsAbs {
  min-width: 100%;
  max-width: 768px;
  min-height: 100%;
  position: absolute;
  background: rgb(68, 71, 79);
  box-shadow: 0 1px 5px white;
}

.skillsHolder {
  min-width: 100%;
  max-width: 768px;
  min-height: 100%;
  position: absolute;
  /*display: none;*/
}

.row1 {
  margin: 15% 0 0 0;
  order: 1;
}

.row2 {
  margin: 5% 0 0 0;
  order: 2;
}

.skillsIcons {
  max-width: 10%;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}

.row1Icons {
  margin: 0 7.5% 0 7%;
}

.row2Icons {
  margin: 0 11% 0 11%;
}

#l-slider {
  width: 100%;
  padding-bottom: 62.5%;
  position: relative;
}

.imgHolder {
  height: 100%;
  width: 100%;
  position: absolute;
}

.imgHolder:hover {
  border: 2px solid blue;
}

.imgHolder:active {
  border: 2px solid blue;
}

#l-slider nav {
  position: absolute;
}

.l-semitrans {
}

#name {
  width: 100%;
  max-width: 768px;
  position: fixed;
  font-family: Signika, sans-serif;
  color: rgba(255,255,255,0.97);
  /*opacity: 0.65;*/
  text-shadow: 0.25px 0.25px 20px rgba(0,0,255,0.65);
  background: linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0));
  box-shadow: 0 1px 5px white;
  font-size: 2rem;
  margin-top: -2.5rem;
  white-space: nowrap;
}

#name:hover {
  color: yellow;
}

#name:active {
  color: yellow;
}


.social {
  width: 10%;
  height: 10%;
  max-width:30px;
  max-height:30px;
  float: right;
  text-shadow: 0.25px 0.25px 10px rgb(56, 55, 57);
}

.wk {
  position: fixed;
  width: 100%;
  max-width: 768px;
  /*display: none;*/
}

#sections {
  /*margin-top: 70%;*/
  padding-left: 1%;
  color: rgba(245, 254, 243, 0.97);
  text-shadow: 0.25px 0.25px 10px rgb(56, 55, 57);
}

#sections p {
  font-family: 'Slabo 27px', serif;
  font-size: 0.95rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: rgba(245, 254, 243, 0.97);
}

#sections h1, h2, h3 {
  font-family: Signika, sans-serif;
  margin-bottom: .33rem;
}

#sections a {
  text-decoration: none;
  text-shadow: 0.25px 0.25px 10px blue;
  color: rgba(245, 254, 243, 0.97);
}

#sections a:hover {
  color: yellow;
}

#sections a:active {
  color: yellow;
}

#fourOfour {
  text-align: center;
}

#fourOfour h1 {
  font-size: 5rem;
}

.template {
  display: none;
}

.noBullets {
  list-style: none;
}
